table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid rgb(95, 24, 228);
    padding: 0.5rem;
    text-align: right;
    height: 100;
    text-decoration-color: rgb(42, 165, 52);
}

.pagination-container {
    width: 70%;
    float:left;
  }

.pagination {
    margin: 0;
}